name: Build-Cached

on:
  push:
    paths-ignore:
      - 'readme.md'
    branches:
      - main
  pull_request:
    paths-ignore:
      - 'readme.md'
    branches:
      - main

env:
  FINAL_IMAGE: henkmeulekamp/pop3-forwarding

jobs:
  docker:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - 
        name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
            username: ${{ secrets.DOCKERHUB_USERNAME }}
            password: ${{ secrets.DOCKERHUB_TOKEN }}
      - 
        name: Login to DGU
        uses: docker/login-action@v3
        with:
            registry: dhi.io
            username: ${{ secrets.DOCKERHUB_USERNAME }}
            password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          push: ${{github.ref_name == 'main' && github.actor != 'dependabot[bot]'}}
          tags: |
            henkmeulekamp/pop3-forwarding:x86_64
            henkmeulekamp/pop3-forwarding:${{ github.sha }}
          cache-from: type=registry,ref=henkmeulekamp/pop3-forwarding:buildcache
          cache-to: type=registry,ref=henkmeulekamp/pop3-forwarding:buildcache,mode=max
      - run : echo "done" > success-build-${{ github.sha }}